 @using MySocialMedia.ViewModels.Account

<div class="righ-align">
    <form asp-area="" asp-controller="AccountManager" asp-action="UserList" method="get">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск" name="search">

        
        
           @*  @foreach (var user in Model.UserList)
            {
                <div class="mrgn center-align">
                    <img src="@user.Image" alt="@user.GetFullName()"
                         onerror="this.src='/images/default-avatar.png'">       
                    <div>
                        <h3>@user.GetFullName()</h3>
                        @if (!string.IsNullOrWhiteSpace(user.Status))
                        {
                         <p>@user.Status</p>
                        }
                        @if (!string.IsNullOrWhiteSpace(user.About))
                        {
                        <p>@user.About</p>
                        }
                    </div>
                </div>
            } *@
        
    

    </form>
</div>

@* Выдает ошибку при добавлении в друзья.  //"UserList", в контроллере убрал временно ! *@