@model MySocialMedia.ViewModels.Account.SearchViewModel

<div class="block-reg background-white">

    @if (Model.UserList.Count != 0)
    {

        @foreach (var user in @Model.UserList)
        {
            <div>
                <div id="search-ava">

                    <img src="@user.Image" alt="@user.GetFullName()"
                         onerror="this.src='/images/default-avatar.png'">
                    <div>
                        <h3>@user.GetFullName()</h3>
                        @if (!string.IsNullOrWhiteSpace(user.Status))
                        {
                            <p>@user.Status</p>
                        }
                        @if (!string.IsNullOrWhiteSpace(user.About))
                        {
                            <p>@user.About</p>
                        }
                    </div>
                </div>

                <form asp-controller="AccountManager" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Добавить в друзья
                    </button>
                </form>

            </div>
        }
    }
    else
    {
        <div>
            <label> Поиск не дал результатов.</label>
        </div>
    }


</div>