@model MySocialMedia.ViewModels.Account.UserViewModel

<link rel="stylesheet" href="~/css/user-page.css" asp-append-version="true" />

<div class="container user-page">
    <div class="user-profile">
        <div class="user-main">
            <img class="user-image" src="@Model.User.Image" alt="Profile Image" />
            <form method="get" asp-controller="AccountManager" asp-action="Edit">
                <button type="submit" class="btn btn-primary">Редактировать профиль</button>
            </form>
        </div>

        <div class="row">
            <div class="main">
                <div class="user-info">
                    <div class="info-item">
                        <span class="gray-text">Статус:</span>
                        <span>@Model.User.Status</span>
                    </div>
                    <div class="info-item">
                        <span class="gray-text">Дата рождения:</span>
                        <span>@Model.User.BirthDate.ToLongDateString()</span>
                    </div>
                    <div class="info-item">
                        <span class="gray-text">О себе:</span>
                        <span>@Model.User.About</span>
                    </div>
                    <div class="info-item">
                        <span class="gray-text">Email:</span>
                        <span>@Model.User.Email</span>
                    </div>
                </div>
            </div>

            <div class="side">
                <div class="friends-container">
                    <h4>Список друзей</h4>

                    @if (Model.Friends.Count != 0)
                    {
                        <div class="friend-box">
                            @foreach (var user in Model.Friends)
                            {
                                <div class="friend-card">
                                    <img src="@user.Image" class="friend-avatar" alt="@user.GetFullName()" />
                                    <div>@user.GetFullName()</div>
                                    <div class="btn-group">
                                        <form asp-controller="AccountManager" asp-action="Chat" asp-route-id="@user.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-primary min-width-but">
                                                Чат
                                            </button>
                                        </form>
                                        <form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-danger min-width-but">
                                                Удалить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="text-muted">У вас пока нет друзей.</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>